<html>
<body>
    <h1>Welcome to TechWorld</h1>
    <ul style="list-style-type:none;">
    <li>
    <input type="button" value="Register with us now!!" onClick="document.location.href='/reg'" />    
    <input type="button" value="Login Now!!" onClick="document.location.href='/logform'" />    
</li>
    <li></li>
    <li></li>

    </ul>


</body>


</html>