<html>

<head>
   <script
  src="https://code.jquery.com/jquery-3.4.1.js"
  integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
  crossorigin="anonymous"></script>
    {{!-- <script type="text/javascript" language="javascript" src="javascripts/jquery.js" ></script> --}}
<!-- <script type="text/javascript" language="javascript" src="javascripts/logscript.js" ></script> -->

</head>

<body>
    <h1>Welcome to login</h1>


        <fieldset>
            <legend>
                <h2>Login:</h2>
            </legend>
            <table>
                <tr>
                    <p>
                        <td><label>Email:</label></td>
                        <td><input type="text" class="form_text" id="imail" name="mail"></td>
                        <td><span class="error_form" id="mail_error_mesg"></span></td>
                    </p>
                </tr>
                <tr>
                    <p>
                        <td><label>Password:</label></td>
                        <td><input type="password" id="ipass" name="pass" /></td>
                        <td><span class="error_form" id="pass_error_mesg"></span></td>
                    </p>
                </tr>
                <tr>
                    <p>
                        <td><input type="submit" id="isubmit" value="Submit" onclick="test()"/> </td>
                        <td><input type="reset" id="ireset" value="Clear" /></td>
                    </p>
                </tr>
            </table>
        </fieldset>
</body>
<script type="text/javascript">
function test(){
  var email=$("#imail").val();
  var pass=$("#ipass").val();
  $.ajax({
     type:'POST',
     url:'http://localhost:3000/auth/login',
     data:{'mail': email,'pass':pass},
     success:function(data){
       console.log(data);
       if(data=="welcome")
       window.location.href="/menu";
       else
       alert(data);
     }  })}
</script>
</html>
