<html>
<body>
        <form action="/auth/kill">
        <table>
        <h2>Menu</h2>
        <tr>
        <p>
        <td><input type="submit" id="ibtn" value="logout"/> </td> 
        </form>
        <form action="/editpro">
        <td><input type="submit" id="ibtn" value="edit"/></td>     
        </form>
        <form action="comsection.php">
        <td><input type="submit" id="ibtn" value="comment"/></td>     
        </form>
        <form action="chatsec.php">
        <td><input type="submit" id="ibtn" value="chat"/></td>     
        </form>
        </p>
        </tr>
        </table>
        </form>
        


</body>

</html>